################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Tabalim [App]/obj
/Tabalim [core]/obj
/.svn
/Tabalim [Addin] [R22]/obj/Debug
